<div
  class="add-user-section"
  *ngIf="!isAddedUser"
>
  <app-add-user
    class="add-user"
    (addUser)="addUserName($event)"
  ></app-add-user>
</div>


<div fxFlexFill fxLayout="column" *ngIf="isAddedUser">
  <div fxFlex="none">
    <app-header title="Chat"></app-header>
  </div>

  <div fxFlex>
    <div fxFill fxLayout="row">
      <div fxFlex="80" class="chat-side-bar">
        <app-chat
          class="chat-section"
          [style.height.px]="screenHeight - 150"
          [message]="chatRoomService.getMessage() | async"
        ></app-chat>

        <app-create-message
          class="create-msg-section"
          [identifier]="identifier"
          (dataChange)="sendMessage($event)"
        ></app-create-message>
      </div>

      <div fxFlex="20" class="user-list-side-bar">
        <div *ngIf="(chatRoomService.listOfUsers() | async) as users; else loading">
          <app-user-list
            (setUserIdentifier)="addUserIdentifier($event)"
            [listOfUsers]="users"
          ></app-user-list>
        </div>

        <ng-template #loading>
          Loading stuff...
        </ng-template>
      </div>
    </div>
  </div>
</div>
