.create-message {
  padding: 10px;
  position: relative;
}

.mat-full-width {
  width: 80%;
}

.message {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.mat-success {
  background-color: green;
  color: #fff;
}

.emoji {
  margin: 0 5px;
}
